
body{
    font: 20px Arial, Sans-serif;
}
.navbar {
    background-color: #5858FA;
}

.quem-somos {
    background-color: #8181F7;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #5858FA;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}